.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.filters-card {
  margin-bottom: 20px;
}

.filters {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.charts-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 16px;
}

.filters mat-form-field:last-child {
  input {
    color: rgba(0, 0, 0, 0.87); // 确保禁用状态下文字颜色正常显示
  }
}