<!DOCTYPE html>
<html>
  <body>
    <!-- <h1>Hi</h1>
    <p>test works!</p>
    <p id="para1">Hi new paragraph</p>
    <p class="center large">Test class selector</p>
    <h6 class="center">AAA</h6>
    <h5 style="color: brown;">Inline style</h5>
    <h2 style="color: tomato; border: 2px solid turquoise;">Text color</h2>
    <h3 style="color: hsl(0, 50%, 50%);">Text color</h3>
    <div></div>
    <p class="dotted">The background-image is fixed. Try to scroll down the page.</p>
    <p class="dashed">The background-image is fixed. Try to scroll down the page.</p>
    <p class="solid">The background-image is fixed. Try to scroll down the page.</p>
    <p class="double">The background-image is fixed. Try to scroll down the page.</p>
    <p class="groove">The background-image is fixed. Try to scroll down the page.</p>
    <p class="ridge">The background-image is fixed. Try to scroll down the page.</p>
    <p class="inset">The background-image is fixed. Try to scroll down the page.</p>
    <p class="outset">The background-image is fixed. Try to scroll down the page.</p>
    <p class="none">The background-image is fixed. Try to scroll down the page.</p>
    <p class="hidden">The background-image is fixed. Try to scroll down the page.</p>
    <p class="mix">The background-image is fixed. Try to scroll down the page.</p>
    <p class="one">The background-image is fixed. Try to scroll down the page.</p>
    <p class="two">The background-image is fixed. Try to scroll down the page.</p>
    <p class="three">The background-image is fixed. Try to scroll down the page.</p>
    <p class="four">The background-image is fixed. Try to scroll down the page.</p>
    <p class="eight">Border radius</p>
    <p class="margin">This element has m margin of 70px</p>
    <p class="margin1">This element has m margin of 70px</p>
    <div class="margin1">
      <p class="inherit">hello</p>
    </div> -->
  
    <!-- <h1>This is h1</h1>
    <h2>This is h2</h2> -->
  
    <!-- <div>
      <p>This element has a padding of 70px.</p>
    </div> -->
  
    <!-- <div class="div1">
      This element has a height of 50 pixels and a width of 100%.
    </div>
    <div class="div2">
      This element has a max-height property.This element has a max-height property.This element has a max-height property.
    </div> -->
  
    <!-- <div>
      This is a box
    </div> -->
    
    <!-- <p class="ex1">A dashed outline.</p> -->
    <!-- <p class="ex2">Another outline style</p> -->

    <h1>This is h1</h1>
    <h2>This is h2</h2>
  </body>
</html>
